@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@200;600;700;800&family=Roboto:wght@300&display=swap');

.contenu{
    text-align: left;
    padding: 50px;
}

.brand{
    color: var(--color);
    text-transform:uppercase;
    margin-bottom: 50px;
}

.texte{
    text-align: justify;
    font-family: Kumbh Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 50px;

}
.price{
    font-family: Kumbh Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #1D2026;

}

.reduction-bloc{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.reduction{
    color: var(--color);
    background-color: #FEEEDF;
    display: inline-block;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
}
.base-price{
    height: 26px;
    left: 0%;
    right: 63.58%;
    top: calc(50% - 26px/2 + 21px);
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
    text-decoration-line: line-through;
    color: #B6BCC8;
}

.minus-btn, .plus-btn, .value{
    border: none;
    background: #F8F8F8;
    max-width: 50px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    outline: none;
} 

.minus-btn, .plus-btn{  
    outline: none;
    border-radius: 15px;
    box-shadow: 2px 2px #999;
    margin-right: 10px;
} 

.plus-btn:hover, .minus-btn:hover {
    background-color: rgb(207, 207, 207)
}

.plus-btn:active , .minus-btn:active {
  box-shadow: 1px 3px #666;
  transform: translateY(4px);
}

.add-btn{
    cursor: pointer;
    background-color: var(--color);
    border: none;
    text-align: center;
    color: white;
    font-family: Kumbh Sans;
    display: flex;
    align-items: center;
    padding: 15px 50px 15px 50px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;

    cursor: pointer;
    outline: 0;
    transition: 0.3s linear;
}

      .add-btn:hover {
  transform: scale(0.95);
        }

.add-cart-content{
    display: flex;
    height: 50px;
}