.header{
    display: flex;
    height: 50px;
    align-items: center;
}

hr {
    margin-top: 2%;
    margin-bottom: 5%;
}

.menu{
    display: none;
    font-size: 2em;
    margin: 10px;
}

@media (max-width: 1000px) {
  .menu{
      display: initial;
  }
}