.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  
}
.popup_inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  height: 722px;
  width: 550px;
  margin: auto;
  border-radius: 20px;
}

.close{

margin-bottom: 10px;
cursor: pointer;
float: right;
color: white;
font-size: 2em;

}

.popupContent{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
}

.image{
  height: 550px;
  width: 550px;
  left: 446px;
  top: 136px;
  border-radius: 15px;
}

.popup-miniature{
height: 88px;
left: 499px;
top: 726px;
border-radius: 10px;
display: flex;
margin-top: 50px;
justify-content: space-evenly;
}

.popup-miniature > img{
  width: 88px;
height: 88px;
left: 856px;
top: 726px;
border-radius: 10px;
}
.iconNext, .iconPrevious{
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  height: 56px;
  width: 56px;
position: absolute;
}

.iconNext{
left: 530px;
top: 300px;
}

.iconPrevious{
    left: -25px;
  top: 300px;
}

.outline{
  width: 30px;
  height: 100%;
}


.outline:hover{
  color: var(--color);
}

